.home-contact {
    // padding-bottom: rem(30);
    // @include media-breakpoint-up('md') {
    //     padding-bottom: rem(60);
    // }
    &__wrap {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    @include media-breakpoint-down('md') {
        &__image {
            display: none;
        }
    }
    &__form {
        max-width: rem(800);
        padding-left: rem(15);
        padding-right: rem(15);
        padding-top: rem(30);
        padding-bottom: rem(30);
        @include media-breakpoint-up('md') {
            padding-left: rem(60);
        }
    }
    &__form-subtitle {
        @extend .subtitle;
    }
    &__form-title {
        @extend .title;
        margin-bottom: rem(40);
    }
    #vfb-form-1 {
        .visual-form-builder .vfb-legend {
            display: none;
        }
        .visual-form-builder fieldset {
            background-color: #fff;
            border: none;
            margin: 0!important;
        }
        .vfb-item.vfb-item-secret {
            display: none!important;
        }
        .visual-form-builder ul {
            margin: 0!important;
        }
        input.vfb-text,
        input[type="text"].vfb-text,
        input[type="tel"].vfb-text,
        input[type="email"].vfb-text,
        input[type="url"].vfb-text,
        textarea.vfb-textarea {
            border-radius: rem(16);
            padding: rem(12);
        }
        .vfb-submit,
        input[type="submit"].vfb-submit {
            display: inline-block;
            font-weight: 400;
            text-align: center;
            vertical-align: middle;
            color: #fff;
            background-color: #d34f28;
            border-color: #d34f28;
            user-select: none;
            border: 1px solid transparent;
            padding: rem(15) rem(10);
            font-size: 1rem;
            line-height: 1.5;
            border-radius: rem(16);
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }
    }
}